*{
    padding: 0;
    margin: 0;
}


body {
    background-color: white;
    color: black;
}  


#titulo{
    margin: 0% auto;
    margin-bottom: auto;
    text-align: center;
}

#formulario{
    background-color: rgba(255, 255, 255, 0.489);
    color: black;
    width: 300px;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
}


form{
    display: flex;
    flex-direction: column;
}

form label{ 
    margin-bottom: 5px;
}

form input[type="text"],
form input[type="email"],
form input[type="submit"] {
    margin-bottom: 10px;
}

form input[type="submit"] {
    align-self: center;
}

